.container{
    width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}
/* .row{
    width: 100%;
} */
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg_4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12{
    float: left;
    padding: 0 1 rem;
}
.col-lg-1{width: 8.33%;}
.col-lg-2{width: 16.6%;}
.col-lg-3{width: 25%;}
.col-lg-4{width: 33.33%;}
.col-lg_4{width: 32%;}
.col-lg-5{width: 41.66%;}
.col-lg-6{width: 50%;}
.col-lg-7{width: 58.33%;}
.col-lg-8{width: 66.6%;}
.col-lg-9{width: 75%;}
.col-lg-10{width: 83.33%;}
.col-lg-11{width: 91.66%;}
.col-lg-12{width: 100%;}
@media only screen  and (max-width:960px) {
    .container{
        max-width: 830px;
        margin: 0 auto;
    }
    
    .col-md,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12{
        float: left;
        padding: 0 1 rem;
    }

    .col-md-1{width: 8.33%;}
    .col-md-2{width: 16.6%;}
    .col-md-3{width: 25%;}
    .col-md-4{width: 33.33%;}
    .col-md_4{width: 32%;}
    .col-md-5{width: 41.66%;}
    .col-md-6{width: 50%;}
    .col-md-7{width: 58.33%;}
    .col-md-8{width: 66.6%;}
    .col-md-9{width: 75%;}
    .col-md-10{width: 83.33%;}
    .col-md-11{width: 91.66%;}
    .col-md-12{width: 100%;}


    .nav_list{
        display: flex;
        align-items: center;
        padding-top: 10px;
    }
    .nav_item{
        list-style: none;
        margin-left: 40px;
    }

    /* talent_section uchun */

.talent_section{
    height: 400px;
    background-color: #014E56;
    padding-top: 50px;
}
.talents{
    padding: 30px 10px;
}
.talent_section h1{
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 100px;
    color: white;
}
.text-main{
    color: #c17070;
    font-size: 70px;
}
.lang{
    width: 50px;
    height: 3px;
    background-color: #F67E7E;
    margin-left: 50px;
}
.talent_section p{
    padding-top: 70px;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}


/* team_section qismi uchun */
.team_section{
    background: #012F34;
    height: 680px;
    padding-top: 100px;
}
.team_section h2{
    color: white;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    padding-right: 30px;
}
.team_list-item{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 40px;
}
.team_info{
    padding-left: 30px;
}
.team_info h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E;
    margin-bottom: 10px;
}
.team_info p{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: white;
}

/* results_section */
.results_section{
    background: #004047;
    height: 660px;
    padding-top: 90px;
}
.results_title{
    padding: 0 25px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    margin-bottom: 80px;
}
.small_title{
    color: #79C8C7;
}
.results_about{
    text-align: center;
    background-image: url("../img/“.svg");
    background-repeat: no-repeat;
    background-position: top;
}
.results_about p{
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px;
    color: white;
    padding: 0 25px;
}
.results_about span{
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 6px;
    color: #268c98;
}
.results_about i{
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    display: block;
    margin-bottom: 6px;
    color: white;
}

/* started_section uchun */
.started_section{
    height: 200px;
    background: #F67E7E;
}
.ready{
    padding-left: 200px;
}
.ready  a{
    color: #004047;
    text-decoration: none;
}
.ready button:hover a{
    color: #fff;
}
.big_title{
    padding-top: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #012F34;
}
.started_section button{
    margin-top: 85px;
    text-align: center;
    border: 2px solid #012F34;
    border-radius: 24px;
    padding: 10px 25px;
    background-color: #F67E7E;
    transition: .6s;
    cursor: pointer;
}
.started_section button:hover{
    background-color: #004047;
}
.submit_input{
    padding: 10px 25px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    color: #014E56;
    border: 0;
    cursor: pointer;
}


/* footer uchun */
.footer{
    height: 200px;
    background-color: #004047;
    padding-top: 70px;
    position: relative;
}
.footer h4{
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
}
.footer p{
    color: rgb(196, 192, 192);
    text-align: center;
    /* position: absolute;
    bottom: 5px;
    left: 220px; */
}
.footer span{
    margin-right: 20px;
    color: white;
    font-size: 24px;
}
.footer span a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.footer span a:hover{
    color: #c17070;
}
.footer_List{
    list-style: none;
    color: white;
}
.footer_List li{
    line-height: 25px;
    font-size: 20px;
}
.networks_list{
    display: flex;
    list-style: none;
    margin-bottom: 60px;
}
.bx{
    font-size: 40px;
    color: white;
    margin-right: 20px;
    transition: 1s;
}
.networks_link:hover .bx{
    transform: scale(1.2);
    color: #bebebfda;
}



.plus_pic{
    position: absolute;
    bottom: -40px;
    left: 100px;
}
.info{
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: white;
    padding: 0 40px;
    margin-bottom: 16px;
}
.director_box p{
    color: #79C8C7;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.director_box i{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: white;
    display: block;
}
.network_list{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.network_item{
    list-style: none;
}


.started_section h3{
    padding-top: 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #012F34;
}


/* CONTACT SECTION UCHUN */

  /* ask_section uchun */
.ask_section{
    background: #014E56;
    height: 650px;
    padding-top: 90px;
}
.ask_about h2{
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    color: white; 
}
.ask_about span{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #F67E7E;
    margin-bottom: 15px;
    display: inline-block;
}
.team_list-item{
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 40px;
}
.team_info{
    padding-left: 10px;
}
.team_info p{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: white;
    padding-right: 70px;
}

.text,.email,.company,.message_input,.title_input{
   width: 100%;
   margin-bottom: 45px;
   border: none;
   border-bottom: 1px solid white;
   padding: 6px 3px;
   color: white;
   background-color: #014E56;
}
.submit_input{
    padding: 10px 25px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    color: #014E56;
    border: 0;
    cursor: pointer;
}



}

@media only screen  and (max-width:768px) {
    .container{
        width: 600px;
        margin: 0 auto;
    }
    
    .col-sm,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12{
        float: left;
        padding: 0 1 rem;
    }

    .col-sm-1{width: 8.33%;}
    .col-sm-2{width: 16.6%;}
    .col-sm-3{width: 25%;}
    .col-sm-4{width: 33.33%;}
    .col-sm-5{width: 41.66%;}
    .col-sm-6{width: 50%;}
    .col-sm-7{width: 58.33%;}
    .col-sm-8{width: 66.6%;}
    .col-sm-9{width: 75%;}
    .col-sm-10{width: 83.33%;}
    .col-sm-11{width: 91.66%;}
    .col-sm-12{width: 100%;}


     .nav_list{
        display: flex;
        align-items: center;
        padding-top: 10px;
    }
    .nav_item{
        list-style: none;
        margin-left: 30px;
    }
    .nav_link{
        text-decoration: none;
        color: white;
    }
    .lang{
        display: none;

    } 

    .talent_section{
        height: 580px;
        background-color: #014E56;
        padding-top: 50px;
        text-align: center;
        background-image: url("../img/Group\(2\).png");
        background-position: bottom center;
        background-repeat: no-repeat;

    }

    .talent_section h1{
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 66px;
        color: white;
    }
    .text-main{
        color: #c17070;
        display: inline-block;
        font-size: 64px;
    }

    /* team_section qismi uchun */
.team_section{
    background: #012F34;
    height: 860px;
    padding-top: 110px;
}
.team_section h2{
    color: white;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    padding-right: 30px;
    margin-bottom: 60px;
}
.team_list-item{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 40px;
}
.team_info{
    padding-left: 30px;
}
.team_info h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E;
    margin-bottom: 10px;
}
.team_info p{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: white;
}

/* results_section */
.results_section{
    background: #004047;
    height: 1110px;
    padding-top: 90px;
}
.results_title{
    padding: 0 25px;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    margin-bottom: 80px;
}
.small_title{
    color: #79C8C7;
}
.results_about{
    text-align: center;
    background-image: url("../img/“.svg");
    background-repeat: no-repeat;
    background-position: top;
    margin-bottom: 50px;
}
.results_about p{
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px;
    color: white;
    padding: 0 25px;
}
.results_about span{
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 6px;
    color: #268c98;
}
.results_about i{
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    display: block;
    margin-bottom: 6px;
    color: white;
}
/* started_section uchun */
.started_section{
    height: 200px;
    background-image: url("../img/Group\(3\).png");
    background-position: bottom left;
    background-repeat: no-repeat;
}
.ready  a{
    color: #004047;
    text-decoration: none;
}
.ready{
    padding: 0;
}
.ready button:hover a{
    color: #fff;
}
.big_title{
    padding-top:30px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #012F34;
}
.started_section button{
    margin-top: 30px;
    text-align: center;
    border: 2px solid #012F34;
    border-radius: 24px;
    padding: 10px 25px;
    background-color: #F67E7E;
    transition: .6s;
    cursor: pointer;
}
.started_section button:hover{
    background-color: #004047;
}


/* footer uchun */
.footer{
    height: 250px;
    background-color: #004047;
    padding-top: 70px;
    text-align: center;
    /* position: relative; */
}
.footer h4{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}
.footer p{
    color: rgb(196, 192, 192);
}
.footer span{
    margin-right: 20px;
    color: white;
}
.footer span a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    display: inline-block;
}
.footer span a:hover{
    color: #c17070;
}
.footer_List{
    list-style: none;
    color: white;
    margin-bottom: 28px;
}
.footer_List li{
    line-height: 25px;
}
.networks_list{
    display: flex;
    list-style: none;
    margin-bottom: 60px;
}
.bx{
    font-size: 40px;
    color: white;
    margin-right: 20px;
    transition: 1s;
}
.networks_link:hover .bx{
    transform: scale(1.2);
    color: #bebebfda;
}

/*  ABOUT QISMI UCHUN */
.presentation_section{
    background-image: url("../img/Group\(5\).png");
    background-position: bottom right;
    background-repeat: no-repeat;
}
.nav_list{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.nav_item{
    list-style: none;
    margin-left: 30px;
}
.nav_link{
    text-decoration: none;
    color: white;
}

.presentation_section h1{
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 56px;
}
.presentation_section p{
    color: white;
    padding-top: 20px;
}
.presentation_section .lang{
    width: 50px;
    height: 3px;
    background-color: #F67E7E;
}

.presentation_section{
    height: 400px;
    background: #014E56;
    padding-top: 110px;
    text-align: center;
}


/* director section uchun */
.director_section{
    background-image: url("../img/Group\(6\).png");
    background-position: bottom left;
    background-repeat: no-repeat;
    height: 1300px;
    background: #004047;
}
.director_section h1{
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 80px;
    padding-top: 80px;
}
.director_section h4{
    color: #79C8C7;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.director_box{
    position: relative;
    height: 253px;
    background: #012F34;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 55px;
}
.plus_pic{
    position: absolute;
    bottom: -40px;
    left: 110px;
}
.director{
   border-left: 9px solid #004047;
   border-right: 9px solid #004047;
}
.director_1{
    border-right: 9px solid #004047;
}
.director_box img{
    margin-bottom: 15px;
}
.info{
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: white;
    padding: 0 40px;
    margin-bottom: 16px;
}
.director_box p{
    color: #79C8C7;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.director_box i{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: white;
    display: block;
}

.started_section{
    height: 250px;
    background: #F67E7E;
    text-align: center;
}
.ready{
    padding-left: 0px;
}
.ready  a{
    color: #004047;
    text-decoration: none;
}
.started_section h3{
    padding-top: 80px;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    color: #012F34;
}
.started_section button{
    margin-top: 85px;
    text-align: center;
    border: 2px solid #012F34;
    border-radius: 24px;
    padding: 10px 25px;
    background-color: #F67E7E;
    transition: .6s;
}
.started_section button:hover{
    background-color: #004047;
}
.started_section button:hover a{
    color: white;
}





/* footer uchun */
.footer{
    height: 250px;
    background-color: #004047;
    padding-top: 70px;
    text-align: center;
}
.footer h4{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}
.footer p{
    color: rgb(196, 192, 192);
}
.footer span{
    margin-right: 20px;
    color: white;
}
.footer span a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    display: inline-block;
}
.footer span a:hover{
    color: #c17070;
}
.footer_List{
    list-style: none;
    color: white;
    margin-bottom: 28px;
}
.footer_List li{
    line-height: 25px;
}
.networks_list{
    display: flex;
    list-style: none;
    margin-bottom: 60px;
}
.bx{
    font-size: 40px;
    color: white;
    margin-right: 20px;
    transition: 1s;
}
.networks_link:hover .bx{
    transform: scale(1.2);
    color: #bebebfda;
}




/* KONTACT QISMI MUCHUN */

.ask_section{
    background: #014E56;
    height:1120px;
    padding-top: 90px;
}
.ask_about h2{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: white; 
    text-align: center;
}
.ask_about span{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #F67E7E;
    margin-bottom: 15px;
    display:block;
    text-align: center;
    margin-bottom: 30px;
}
.team_list-item{
    display: block;
    list-style: none;
    align-items: center;
    margin-bottom: 40px;
}
.team_info{
    padding-left: 30px;
}
.team_info p{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: white;
}

.text,.email,.company,.message_input,.title_input{
   width: 100%;
   margin-bottom: 45px;
   border: none;
   border-bottom: 1px solid white;
   padding: 6px 3px;
   color: white;
   background-color: #014E56;
}
.submit_input{
    padding: 10px 25px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    color: #014E56;
    border: 0;
    cursor: pointer;
}


 
} 




@media only screen  and (max-width:576px) {
    .container{
        max-width: 500px;
        margin: 0 auto;
    }
    .col-xs,
    .col-xs-1,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12{
        float: left;
        padding: 0 1 rem;
    }

    .col-xs-1{width: 8.33%;}
    .col-xs-2{width: 16.6%;}
    .col-xs-3{width: 25%;}
    .col-xs-4{width: 33.33%;}
    .col-xs-5{width: 41.66%;}
    .col-xs-6{width: 50%;}
    .col-xs-7{width: 58.33%;}
    .col-xs-8{width: 66.6%;}
    .col-xs-9{width: 75%;}
    .col-xs-10{width: 83.33%;}
    .col-xs-11{width: 91.66%;}
    .col-xs-12{width: 100%;}


    #navbar{
        display: none;
    }
    .nav_btn{
        display: none;
    }
    .burger{
        display: block;
    }
    .burger{
        position: relative;
    }
    .burger .span{
        position: absolute;
        top: 10px;
        right: -120px;
        cursor: pointer;
    }
    /* talent section */
    .talent_section{
        height: 500px;
        background-color: #014E56;
        padding-top: 50px;
        text-align: center;
    }
    .talents{
        padding: 30px 10px;
    }
    .talent_section h1{
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 70px;
        color: white;
    }
    .text-main{
        color: #c17070;
        font-size: 50px;
        line-height: 40px;
        display: inline-block;
    }
    .lang{
        width: 50px;
        height: 3px;
        background-color: #F67E7E;
        margin-left: 50px;
        display: none;
    }
    .talent_section p{
        padding-top: 30px;
        color: white;
        padding-left: 50px;
        padding-right: 50px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
    }
    
    /* team_section qismi uchun */
    .team_section{
        background: #012F34;
        height: 910px;
        padding-top: 50px;
    }
    .lang{
        width: 50px;
        height: 3px;
        background-color: #F67E7E;
        margin-left: 50px;
    }
    .team_section h2{
        color: white;
        font-weight: 700;
        font-size: 39px;
        line-height: 32px;
        padding-right: 30px;
        margin-bottom: 40px;
    }
    .team_list-item{
        display:block;
        justify-content: space-between;
        list-style: none;
        margin-bottom: 40px;
        text-align: center;
    }
    .team_info{
        padding-left: 30px;
    }
    .team_info h4{
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: #F67E7E;
        margin-bottom: 10px;
    }
    .team_info p{
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        color: white;
    }

    /* results_section */
    .results_section{
        background: #004047;
        height: 1200px;
        padding-top: 90px;
    }
    .results_title{
        padding: 0 25px;
        font-weight: 700;
        font-size: 35px;
        line-height: 32px;
        text-align: center;
        color: #fff;
        margin-bottom: 80px;
    }
    .small_title{
        color: #79C8C7;
    }
    .results_about{
        text-align: center;
        background-image: url("../img/“.svg");
        background-repeat: no-repeat;
        background-position: top;
        margin-bottom: 60px;
    }
    .results_about p{
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 30px;
        color: white;
        padding: 0 25px;
    }
    .results_about span{
        display: block;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 6px;
        color: #268c98;
    }
    .results_about i{
        font-style: italic;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        display: block;
        margin-bottom: 6px;
        color: white;
    }
     /* started_section uchun */
    .started_section{
        height: 250px;
        background: #F67E7E;
        text-align: center;
    }
    .ready  a{
        color: #004047;
        text-decoration:none;
    }
    .ready button:hover a{
        color: #fff;
    }
    .ready{
        padding: 0;
    }
    .started_section h3{
        padding-top: 30px;
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 38px;
        color: #012F34;
    }
    .started_section button{
        border: 2px solid #012F34;
        border-radius: 24px;
        padding: 10px 25px;
        background-color: #F67E7E;
        transition: .6s;
        cursor: pointer;
    }
    .started_section button:hover{
        background-color: #004047;
    }

    /* footer uchun */
    .footer{
        height: 800px;
        background-color: #004047;
        padding-top: 170px;
        text-align: center;
    }
    .footer h4{
        color: white;
        font-size: 30px;
        margin-bottom: 10px;
    }
    .footer p{
        color: rgb(196, 192, 192);
    }
    .footer span{
        margin-right: 20px;
        color: white;
    }
    .footer_List{
        list-style: none;
        color: white;
    }
    .footer_List li{
        line-height: 25px;
    }
    .networks_list{
        display: flex;
        list-style: none;
        margin-bottom: 60px;
        justify-content: center;
    }
    .bx{
        font-size: 40px;
        color: white;
        margin-right: 20px;
        transition: 1s;
    }
    .networks_link:hover .bx{
        transform: scale(1.2);
        color: #bebebfda;
    }

    /* footer uchun */
.footer{
    height: 425px;
    background-color: #004047;
    padding-top: 70px;
    text-align: center;
}
.footer h4{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}
.footer p{
    color: rgb(196, 192, 192);
}
.footer span{
    display: inline-block;
    margin-right: 20px;
    color: white;
    margin-bottom: 30px;
}
.footer_List{
    list-style: none;
    color: white;
    margin-bottom: 30px;
}
.footer_List li{
    line-height: 25px;
}
.networks_list{
    display: flex;
    list-style: none;
    margin-bottom: 60px;
}
.bx{
    font-size: 40px;
    color: white;
    margin-right: 20px;
    transition: 1s;
}
.networks_link:hover .bx{
    transform: scale(1.2);
    color: #bebebfda;
}

/* ABOUT PEYJI UCHUN RESPONSIV */
   
.burger{
    display: block;
}
.burger{
    position: relative;
}
.burger .span{
    position: absolute;
    top: 10px;
    right: -120px;
    cursor: pointer;
}
.presentation_section{
    text-align: center;
    height: 400px;
    background: #014E56;
    padding-top: 110px;
}
.presentation_section h1{
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}
.presentation_section p{
    color: white;
    padding-top: 50px;
    line-height: 28px;
}
.presentation_section .lang{
    width: 50px;
    height: 3px;
    background-color: #F67E7E;
}

/* director section uchun */
.director_section{
    height: 2100px;
    background: #004047;
    text-align: center;
}
.director_section h1{
    text-align: center;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 80px;
    padding-top: 80px;
}
.director_section h4{
    color: #79C8C7;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}
.director_box{
    position: relative;
    height: 253px;
    background: #012F34;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 55px;
}
.plus_pic{
    position: absolute;
    bottom: -40px;
    left: 206px;
}
.director{
   border-left: 9px solid #004047;
   border-right: 9px solid #004047;
}
.director_box img{
    margin-bottom: 15px;
}
.info{
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: white;
    padding: 0 40px;
    margin-bottom: 26px;
}
.director_box p{
    color: #79C8C7;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 2px;
}
.director_box i{
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: white;
    margin-bottom: 40px;
}


/* contact section uchun */
   /* ask_section uchun */
.ask_section{
    background: #014E56;
    height:1120px;
    padding-top: 90px;
}
.ask_about h2{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: white; 
    text-align: center;
}
.ask_about span{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #F67E7E;
    margin-bottom: 15px;
    display:block;
    text-align: center;
    margin-bottom: 30px;
}
.team_list-item{
    display: block;
    list-style: none;
    align-items: center;
    margin-bottom: 40px;
}
.team_info{
    padding-left: 30px;
}
.team_info p{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: white;
}

.text,.email,.company,.message_input,.title_input{
   width: 100%;
   margin-bottom: 45px;
   border: none;
   border-bottom: 1px solid white;
   padding: 6px 3px;
   color: white;
   background-color: #014E56;
}
.submit_input{
    padding: 10px 25px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    color: #014E56;
    border: 0;
    cursor: pointer;
}


}

@media screen and (max-width:450px) {
    .container{
        max-width: 350px;
        margin: 0 auto;
        padding: 0 10px;
    }

    .col-xxs,
    .col-xxs-1,
    .col-xxs-2,
    .col-xxs-3,
    .col-xxs-4,
    .col-xxs-5,
    .col-xxs-6,
    .col-xxs-7,
    .col-xxs-8,
    .col-xxs-9,
    .col-xxs-10,
    .col-xxs-11,
    .col-xxs-12{
        float: left;
        padding: 0 1 rem;
    }

    .col-xxs-1{width: 8.33%;}
    .col-xxs-2{width: 16.6%;}
    .col-xxs-3{width: 25%;}
    .col-xxs-4{width: 33.33%;}
    .col-xxs-5{width: 41.66%;}
    .col-xxs-6{width: 50%;}
    .col-xxs-7{width: 58.33%;}
    .col-xxs-8{width: 66.6%;}
    .col-xxs-9{width: 75%;}
    .col-xxs-10{width: 83.33%;}
    .col-xxs-11{width: 91.66%;}
    .col-xxs-12{width: 100%;}


    /* talent_section uchun */

.talent_section{
    height: 560px;
    background-color: #014E56;
    padding-top: 50px;
}
.talents{
    padding: 30px 10px;
}
.talent_section h1{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: white;
}
.text-main{
    color: #c17070;
    font-size: 40px;
}
.lang{
    width: 50px;
    height: 3px;
    background-color: #F67E7E;
    margin-left: 50px;
}
.talent_section p{
    padding-top: 30px;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}


/* team_section qismi uchun */
.team_section{
    background: #012F34;
    height: 1000px;
    padding-top: 70px;
    text-align: center;
}
.team_section h2{
    color: white;
    font-weight: 700;
    font-size: 33px;
    line-height: 40px;
    padding-right: 30px;
    text-align: left;
}
.team_list-item{
    display: block;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 40px;
    text-align: center;
}
.team_info{
    padding-left: 30px;
}
.team_info h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E;
    margin-bottom: 10px;
}
.team_info p{
    margin-left: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: white;
}

/* results_section */
.results_section{
    background: #004047;
    height: 1330px;
    padding-top: 70px;
}
.results_title{
    padding: 0 25px;
    font-weight: 700;
    font-size: 37px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    margin-bottom: 80px;
}
.small_title{
    color: #79C8C7;
}
.results_about{
    text-align: center;
    background-image: url("../img/“.svg");
    background-repeat: no-repeat;
    background-position: top;
}
.results_about p{
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 30px;
    color: white;
    padding: 0 25px;
}
.results_about span{
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 6px;
    color: #268c98;
}
.results_about i{
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    display: block;
    margin-bottom: 6px;
    color: white;
}

.big_title{
    padding-top: 80px;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 37px;
    color: #012F34;
}
.started_section button{
    margin-top: 35px;
    text-align: center;
    border: 2px solid #012F34;
    border-radius: 24px;
    padding: 10px 25px;
    background-color: #F67E7E;
    transition: .6s;
    cursor: pointer;
}
.started_section button:hover{
    background-color: #004047;
}

/* footer uchun */
.footer{
    height: 400px;
    background-color: #004047;
    padding-top: 70px;
    position: relative;
}
.footer h4{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}
.footer p{
    color: rgb(196, 192, 192);
    text-align: center;
}
.footer span{
    margin-right: 20px;
    color: white;
}
.footer span a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.footer span a:hover{
    color: #c17070;
}
.footer_List{
    list-style: none;
    color: white;
}
.footer_List li{
    line-height: 25px;
    font-size: 18px;
}
.networks_list{
    display: flex;
    list-style: none;
    margin-bottom: 60px;
}
.bx{
    font-size: 30px;
    color: white;
    margin-right: 20px;
    transition: 1s;
}
.networks_link:hover .bx{
    transform: scale(1.2);
    color: #bebebfda;
}


/* ABOUT QISMI UCHUN */

.presentation_section{
    height: 400px;
    background: #014E56;
    padding-top: 50px;
}
.presentation_section h1{
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 50px;
}
.presentation_section p{
    color: white;
    padding-top: 20px;
}
.presentation_section .lang{
    width: 50px;
    height: 3px;
    background-color: #F67E7E;
}

.plus_pic{
    position: absolute;
    bottom: -40px;
    left: 130px;
}
.network_list{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.info{
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: white;
    padding: 0 40px;
    margin-bottom: 10px;
}


/* CONTACT QISMI */
.ask_section{
    background: #014E56;
    height: 1150px;
    padding-top: 70px;
}
.ask_about h2{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: white; 
}

.ask_about span{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #F67E7E;
    margin-bottom: 25px;
}
}
